@import 
url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    background-color:  hsl(30, 38%, 92%)
    ;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}
    
@media screen and(min-width:375px ){
    

.container{
   display: flex;
   justify-content: space-around;
   align-items: stretch;
    height: 450px;
    width: 35rem;
   border: 2px;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    border-radius:15px ;
    overflow: hidden;
}
.container2{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    flex-direction: column
    ;
    padding: 15px;
    
}

.pic{
       height:100%;
    width: 90%;
    padding: 0;
    overflow: hidden;
    
}


    #name{
        font-size: 14px;
    font-weight: 700;
    color :hsl(228, 12%, 48%) ;
    font-family: 'Montserrat', sans-serif;
    margin-top:45px;
    text-decoration: dashed;
    }
    


#chanel{
    font-size: 14px;
    font-weight: 700;
    color :hsl(228, 12%, 48%) ;
    font-family: 'Montserrat', sans-serif;
    line-height: 25px;
    margin-top: -4px;

}


.old-price{
font-size:small ;
color: hsl(212, 21%, 14%);
text-decoration: line-through;
margin-right: 15px;
font-weight: 700;
font-family: 'Montserrat', sans-serif;


}
#new-price{
    font-weight: 700;
    font-size: 25px;
    color:hsl(158, 36%, 37%) ;
    font-size: 36px;
}
.price{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.btn{
    background-color: hsl(158, 36%, 37%) ;
    font-size: 14px;
    color: white;
    padding: 10px ;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    margin-right: 20px;
font-weight: 700;
font-family:'Montserrat', sans-serif; 
cursor: pointer;
}

}